[Unit]
Description=Server buttons control

[Service]
ExecStart=/usr/bin/pwr-ctrl
Type=simple

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
